.cuerpo{
    background-color: #E5E5E5;
}

.titulo{
    font-family: sans-serif;
    font-size: larger;
    font-weight: bold;
}

.fecha{
    font-family: sans-serif;
    font-size:small;
    color:gray;

}

.contenido{
    font-family: sans-serif;
    font-size: medium;
}

.pago{
    font-family: sans-serif;
    font-size: medium;
    font-weight: bold;
}

.mail{
    font-family: sans-serif;
    font-size: small;
}

.socials{
    color: #0276DD
}